.quotes {
    padding: 60px 0;
}

.quotes-header {
    margin-bottom: 40px;
}

.quotes-content {
    min-height: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    margin: 0 auto;
}

.quotes-place {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    color: #555555;
}

.quotes-author {
    font-size: 16px;
    margin-bottom: 40px;
    color: #555555;
}

.quotes-content__box {
    min-height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quotes-content__block {
    display: flex;
    align-items: center;
}

.quotes-content__button {
    margin-left: 30px;
    background: #2B91CC;
    color: #FFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #2B91CC;
    border-radius: 40px;
    padding: 10px 30px;
    cursor: pointer;
}

@media (max-width: 769px) {
    .quotes {
        padding: 80px 0;
    }

    .quotes-content {
        padding: 0 0;
    }

    .quotes-place {
        font-size: 24px;
    }

    .quotes-content {
        min-height: auto;
    }

    .quotes-content__box {
        min-height: auto;
    }

    .quotes-author {
        font-size: 10px;
    }

    .quotes-content__block {
        flex-direction: column;
    }

    .quotes-content__block span {
        margin-bottom: 10px;
    }
}