.hero {
    color: #ffffff;
    padding: 120px 0 160px 0;
    margin-bottom: 120px;
}

.hero-header {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
}

.hero__list {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 40px 40px;
}

.hero-image {
    background-image: url('../../images/hero-image.jpg');
    max-width: 100%;
    min-height: 594px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    font-size: 16px;
    font-weight: 600;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .hero-image {
        background-image: url('../../images/hero-image@2x.jpg');
        background-size: cover;
    }
}

@media (max-width: 769px) {
    .hero-image {
        min-height: auto;
    }
    .hero {
        padding: 80px 0 90px 0;
        margin-bottom: 0;
    }

    .hero-header {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .hero__list {
        font-size: 15px;
        margin: 0 0 20px 20px;
    }

    .hero-text {
        font-size: 10px;
    }
}