.header {
    padding: 14px 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.header-logo {
    font-weight: 600;
    font-size: 48px;
    line-height: 63px;
    color: #555555;
}

.header-text {
    font-size: 20px;
    color: #555555;
}

.header-contacts {
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 16px;
    color: #000000;
}

.header-contacts a:first-child {
    margin-bottom: 10px;
}

@media (max-width: 769px) {

    .header {
        height: 46px;
        padding: 10px 0;
    }

    .header-logo {
        font-size: 19px
    }

    .header-text {
        font-size: 10px;
    }

    .header-contacts {
        font-size: 10px;
    }

    .header-contacts a:first-child {
        margin-bottom: 0;
    }
}